{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-runtime",
    "react-hot-loader/babel",
    [
      "import",
        {
          "libraryName": "antd",
          "libraryDirectory": "lib",
          "style": "css"
        }
    ]
  ]
}